.mode-label {
  font-family: NotoSansCJKkr;
  font-size: 13px;

  background-color: #eaeaea;
}

.main-label {
  font-family: NotoSansCJKkr;
  font-size: 20px;
  font-weight: bold;
}

scrolledwindow {
  border-width: 0px;
}

.chooser-button {
  border-width: 0px;
  font-family: NotoSansCJKkr;
  color: #1b6ed0;

  background-color: rgba(0, 0, 0, 0);
}
